<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="footer fixed-bottom ">
        <div class="container text-center">
            <span class="text-white">
                <small class='text-white' >Copyright &copy; <%= link_to 'Google', 'https://www.google.com' %></small>
            </span>
        </div>
    </footer>
</body>
</html>